<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /api/

    # Route v1 routes to index.php
    RewriteRule ^v1/(.*)$ index.php [QSA,L]

    # Optional: If you want to route everything that isn't a file/dir
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
